<div class="panel">
  <h3>审核拒绝</h3>

  <div class="panel_contents">
    <%= semantic_form_for [:admin, @audit_work_order], url: do_reject_admin_audit_work_order_path(@audit_work_order), method: :post do |f| %>
      <%= f.inputs do %>
        <%= f.input :audit_comment, label: "拒绝原因", input_html: { rows: 3 }, required: true %>
        <%= f.input :problem_type, as: :hidden %>
        <%= f.input :problem_description, as: :hidden %>
        <%= f.input :remark, as: :hidden %>
        <%= f.input :processing_opinion, as: :hidden %>
      <% end %>

      <div class="actions">
        <%= f.submit "确认拒绝", class: "button" %>
        <%= link_to "取消", admin_audit_work_order_path(@audit_work_order), class: "button" %>
      </div>
    <% end %>
  </div>
</div>