<%= semantic_form_for [:admin, @communication_work_order] do |f| %>
  <%= f.inputs "基本信息" do %>
    <%= render 'admin/shared/work_order_form_fields', f: f %>
  <% end %>
  <%= f.inputs "关联费用明细" do %>
    <% if f.object.reimbursement_id.present? %>
      <div class="fee-detail-selection">
        <% if f.object.new_record? %>
          <div class="select-actions">
            <a href="#" class="select-all">全选</a>
            |
            <a href="#" class="deselect-all">取消全选</a>
          </div>
        <% end %>
        
        <table class="fee-details-table">
          <thead>
            <tr>
              <% if f.object.new_record? %><th class="selectable"></th><% end %>
              <th>ID</th>
              <th>费用类型</th>
              <th>金额</th>
              <th>费用日期</th>
              <th>验证状态</th>
            </tr>
          </thead>
          <tbody>
            <% f.object.reimbursement.fee_details.each do |fee_detail| %>
              <tr>
                <% if f.object.new_record? %>
                  <td>
                    <%= check_box_tag "communication_work_order[fee_detail_ids][]", fee_detail.id,
                                     f.object.fee_detail_ids.present? && f.object.fee_detail_ids.include?(fee_detail.id) %>
                  </td>
                <% end %>
                <td><%= fee_detail.id %></td>
                <td><%= fee_detail.fee_type %></td>
                <td><%= number_to_currency(fee_detail.amount, unit: "¥") %></td>
                <td><%= fee_detail.fee_date %></td>
                <td><%= fee_detail.verification_status %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        
        <% if f.object.new_record? %>
          <script>
            $(document).ready(function() {
              $('.select-all').click(function(e) {
                e.preventDefault();
                $('.fee-details-table input[type="checkbox"]').prop('checked', true);
              });
              
              $('.deselect-all').click(function(e) {
                e.preventDefault();
                $('.fee-details-table input[type="checkbox"]').prop('checked', false);
              });
            });
          </script>
        <% end %>
      </div>
    <% else %>
      <p>请先选择报销单，然后才能查看费用明细。</p>
    <% end %>
  <% end %>
  
  <%= f.actions %>
<% end %>