<%= f.input :reimbursement_id, as: :select, collection: Reimbursement.all.map { |r| [r.invoice_number, r.id] }, input_html: { disabled: !f.object.new_record? } %>

<% unless f.object.new_record? %>
  <li class="string input optional">
    <label class="label">状态</label>
    <span><%= f.object.status %></span>
  </li>
<% end %>

<% if f.object.is_a?(AuditWorkOrder) %>
  <%= f.input :problem_type, as: :select, collection: ProblemTypeOptions.all, include_blank: '无' %>
  <%= f.input :problem_description, as: :select, collection: ProblemDescriptionOptions.all, include_blank: '无' %>
  <%= f.input :remark, as: :text, input_html: { rows: 3 } %>
  <%= f.input :processing_opinion, as: :select, collection: ProcessingOpinionOptions.all, include_blank: '无' %>
  <% if !f.object.new_record? && f.object.audit_result.present? %>
    <%= f.input :audit_result, input_html: { disabled: true } %>
    <%= f.input :audit_comment %>
    <%= f.input :audit_date, as: :string %>
    <%= f.input :vat_verified %>
  <% end %>
<% elsif f.object.is_a?(CommunicationWorkOrder) %>
  <%= f.input :communication_method, as: :select, collection: CommunicationMethodOptions.all %>
  <%= f.input :initiator_role, as: :select, collection: InitiatorRoleOptions.all %>
  <%= f.input :needs_communication, as: :boolean, label: '需要沟通' %>
  <%= f.input :problem_type, as: :select, collection: ProblemTypeOptions.all, include_blank: '无' %>
  <%= f.input :problem_description, as: :select, collection: ProblemDescriptionOptions.all, include_blank: '无' %>
  <%= f.input :remark, as: :text, input_html: { rows: 3 } %>
  <%= f.input :processing_opinion, as: :select, collection: ProcessingOpinionOptions.all, include_blank: '无' %>
  <% if !f.object.new_record? && (f.object.status == 'approved' || f.object.status == 'rejected') %>
    <%= f.input :resolution_summary, required: false %>
  <% end %>
<% end %>

<% if f.object.reimbursement.present? %>
  <%= render 'admin/reimbursements/reimbursement_display', reimbursement: f.object.reimbursement %>
<% end %> 